h1{
    font-size: 60px;
    text-align: center;
}

.letter {
    transition: color 1000ms;
  }

body{
    background-color: rgb(57, 68, 79);
    margin: 0;
}

.tiles{
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 16px
}

.tile{
    height: 100px;
    background-color: black;
    border: 5px solid #444444;
    cursor: pointer;
}